<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
       

    </head>
    <body>
        <h1>API Basejump: Timestamp microservice</h1>

        <h3>Usage</h3>

        <p>Add a url parameter of either a unix timestamp or a natural date in the form Month(in full) Date, Year</p>
        <p>For example /December 25, 2015</p>
        <p>Or the unix timestamp /1450137600</p>

    
        
    </body>
</html>

